<style>

      .thumbnail{
        width: 150px;
        height: auto; 
      }
      .container {
        width: 940px;
        margin: 0 auto;
      }
      .header {
        height: 50px;
        margin-bottom: 40px;
      }
      .footer {
        height: 100px;
        clear:both;
      }
      .content {
        margin-bottom: 40px;
        position: relative;
      }
      .content:before {
        content:"";
        position: absolute;
        width: 1px;
        background: black;
        height: 100%;
        right: 320px;
      }
      .content:after {
        content: "";
        display: block;
        clear: both;
      }
      .section {
        float: left; 
        width: 600px;
        height: 500px;
      }
     
     .relations {
        float: right; 
        width: 300px;
        height: 200px;
      }
    </style>

<div class="container">
    
  <header class="header">
  	<h1>WELCOME TO GEOTAGME</h1>
  </header>

  <div class="content">
    <section id="map" class="section">
    
        <script>
          
          var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
              osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
              osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib}),
              bounds = new L.LatLngBounds(new L.LatLng(30.55555, -5.55555),
                                           new L.LatLng(31.55555, -6.55555));


          var map = new L.Map('map', 
          {
            center: bounds.getCenter(),
            zoom: 5,
            layers: [osm],
            });

          var popup = L.popup();

          function onMapClick(e) 
          {
            popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
          }

          map.on('click', onMapClick);

    
   

            <% @photos.each do |photo| %>
			          L.marker([<%= photo.geolocation.longitude %>, <%= photo.geolocation.latitude %>], {draggable: false}).addTo(map);
			      <% end %>
          
	      </script>

    </section>
        
    <aside class="relations">
        <ul id="photo_carrusel">

			<% @photos.each do |photo| %>
			   <li><%= photo.photo_timestamps %></li>
         <img src=<%= photo.url %> class="thumbnail" />
			<% end %>       

        </ul>
    </aside>        
   </div>

   <footer class="footer">
   </footer>
</div>



